body{
    font-family: monospace;
}

h1{
    background: linear-gradient(to right, #ff7e5f, #feb47b); 
    border-radius: 12px; padding: 20px; 
    color: white; 
}

/* Bin hover */
li i:hover{
    color: red;
}

li i:active{
    color: black;
}

.text-decoration-line-through {
    text-decoration: line-through;
}
